@import '_variables';

.backup-alert-note {
    color: $black;
    border: $border-purple-light;
    background: $white;

    &:before {
        border-top: $border-purple-light;
        border-left: $border-purple-light;
        background: $white;
    }

    strong {
        color: $red;
        font-weight: 700;
    }
}

body .backup-main {

    /* PAGER */

    .backup-pager {
        position: relative;

        ul::before {
            content: '';
            position: absolute;
            display: flex;
            align-items: center;
            height: 1px;
            width: 100%;
            background: $gray;
            z-index: -1;
        }

        li {
            border: $border-gray;
            color: $gray;
            background: $white;

            &.active {
                background: $bg-body-dark;
                color: $white;
            }
        }
    }

    /* ADDRESSES ALERT */

    .backup-icon-alert {
        border: 1px solid $red;
        color: $red;
    }

    /* TITLES */

    h1 {
        color: $orange !important;

        &.backup-title-alert {
            color: $red !important;

            a {
                color: $black;
            }
        }
    }

    .backup-step-one h1 {
        color: $orange !important;
    }

    /* BOX CONTENT */

    .backup-box-content {
        border: $border-purple-light;
    }

    .backup-seed-word {
        color: $blue;
    }

    .backup-seed-order {
        border: $border-purple-light;
    }

    /* ILLUSTRATION */

    .backup-illustration {
        background: url(../img/illus-light.svg);
        width: 280px;
        height: 215px;
        background-repeat: no-repeat;
    }

    /* FORMS */

    .backup-checkbox {
        label {
            color: $black;
        }
    }

    .backup-input,
    .import-input {
        color: $blue !important;
        border-bottom: $border-purple-light !important;
        transition: border $hover-transition !important;

        &:focus {
            border-bottom: $border-yellow
        }
    }

    .backup-btn-gray {
        border: $border-gray;
        color: $gray;

        &:hover {
            color: $white;
            background: $gray;
        }

        &:active {
            background: darken($gray,15%);
        }

        &:disabled {
            opacity: 0.5;
            cursor: default;

            &:hover,
            &:active {
                border: $border-gray;
                color: $gray;
            }
        }
    }

    .backup-btn-green {
        border: $border-green;
        color: $white;
        background: $green;

        &:hover {
            background: darken($green,8%);
        }

        &:active {
            background: darken($green,15%);
        }

        &:disabled {
            border: $border-gray;
            color: $gray;
            opacity: 0.5;
            cursor: default;

            &:hover,
            &:active {
                border: $border-gray;
                color: $gray;
                background: transparent;
            }
        }
    }

    .backup-spinner > div {
        background: $white;
    }
}
