@import '_variables';

.backup-step-two {
    .backup-box-content {
        padding: 32px;
        margin-bottom: 30px;
    }

    .backup-seed-table {
        display: flex;

        > div {
            margin: 0 10px;
            flex-basis: 25%;

            &:first-child {
                margin-left: 0;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        ul {
            list-style: none;
            margin: 0;

            li {
                display: flex;
                align-items: center;

                &:not(:last-child) {
                    margin-bottom: 30px;
                }
            }
        }

        @media(max-width: 1150px) {
            flex-direction: column;

            > div {
                margin: 0 0 20px 0;
                flex-basis: 100%;
            }

            ul {
                list-style: none;
                margin: 0;

                li {
                    display: flex;
                    align-items: center;

                    &:not(:last-child) {
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

