{{define "addressBook"}}

{{$pageTitle := "Address Book"}}
{{$mainClass := "address-book"}}
{{$theme := .Settings.Theme}}
{{$activeNav := 2}}
{{ $info := mkArray $pageTitle $theme $activeNav $mainClass .Settings}}

{{template "templateTop" $info}}

<ul class="tabs" data-tabs id="transaction-tabs" data-options="deep_linking:true">
    <li class="tabs-title is-active"><a href="#factoid-addresses" aria-selected="true">Factoid Addresses</a></li>
    <li class="tabs-title"><a href="#credit-addresses">Entry Credit Addresses</a></li>
    <li class="tabs-title"><a href="#external-addresses">External Addresses</a></li>
</ul>
<div class="tabs-content" data-tabs-content="transaction-tabs">
    <div class="tabs-panel is-active" id="factoid-addresses">
        <table id="factoid-addresses-table">
            <tbody>
                <!-- <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid1 <a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1</td>
                    <td>240.82 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid2 <a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA5ufj2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvIG4</td>
                    <td>0.0 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid3 <a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA2idk2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvCM9</td>
                    <td>0.0 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid4 <a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA8mch2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvUU0</td>
                    <td>1,200.0 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid5 <a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA1unh2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvTV9</td>
                    <td>12.811 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid6 <a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA7cib2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvUK2</td>
                    <td>0.0 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid7 <a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA5oct2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvTE5</td>
                    <td>32.13 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid8 <a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA1jun2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvAJ1</td>
                    <td>222.415 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid9 <a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV2</td>
                    <td>0.0 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid10<a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1</td>
                    <td>0.0 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid11<a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1</td>
                    <td>0.0 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>factoid12<a href="edit-address-factoid"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1</td>
                    <td>0.0 FCT</td>
                </tr> -->
            </tbody>
        </table>
        <div class="newCTA">
            <a href="new-address-factoid" class="address"></a>
        </div>
    </div>
    <div class="tabs-panel" id="credit-addresses">
        <table id="credit-addresses-table">
            <tbody>
                <!-- <tr>
                    <td>&nbsp;</td>
                    <td>entrycredit1 <a href="edit-address-entry-credits"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>EC3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1</td>
                    <td>500 EC</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>entrycredit2 <a href="edit-address-entry-credits"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>EC5ufj2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvIG4</td>
                    <td>0 EC</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>entrycredit3 <a href="edit-address-entry-credits"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>EC2idk2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvCM9</td>
                    <td>500 EC</td>
                </tr>
                <tr>
                    <td>&nbsp;</td>
                    <td>entrycredit4 <a href="edit-address-entry-credits"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>EC8mch2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvUU0</td>
                    <td>422 EC</td>
                </tr> -->
            </tbody>
        </table>
        <div class="newCTA">
            <a href="new-address-entry-credits" class="address"></a>
        </div>
    </div>
    <div class="tabs-panel" id="external-addresses">
        <table id="external-addresses-table">
            <tbody>
                <!-- <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>poloniex <a href="edit-address-external"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1</td>
                    <td>800.0 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>cold1 <a href="edit-address-external"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA5ufj2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvIG4</td>
                    <td>5,000.0 FCT</td>
                </tr>
                <tr>
                    <td><a href="receive-factoids"><i class="qr"><img src="img/icon_qr.svg" class="svg"></i></a></td>
                    <td>cold2 <a href="edit-address-external"><i class="edit"><img src="img/icon_edit.svg" class="svg"></i></a></td>
                    <td>FA2idk2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvCM9</td>
                    <td>5,000.0 FCT</td>
                </tr> -->
            </tbody>
        </table>
        <div class="newCTA">
            <a href="new-address-external" class="address"></a>
        </div>
    </div>
</div>

{{template "templateBottom" "addressbook"}}
{{end}}