{{define "addressBookInner"}}
<ul class="tabs" data-tabs id="transaction-tabs" data-options="deep_linking:true">
    <li class="tabs-title is-active"><a href="#factoid-addresses" aria-selected="true">Factoid Addresses</a></li>
    <li class="tabs-title"><a href="#credit-addresses">Entry Credit Addresses</a></li>
    <li class='tabs-title {{if compareStrings . "all"}} {{else}} hide {{end}}'><a href="#external-addresses">Contact List</a></li>
</ul>
<div class="tabs-content" data-tabs-content="transaction-tabs">
    <div class="tabs-panel is-active" id="factoid-addresses">
        <table id="factoid-addresses-table">
           <thead>
              <tr>
                 <th></th>
                 <th><a id="sort-names"><i id="sort-names-icon" class="fa fa-sort" aria-hidden="true"></i> &nbsp;Nickname</a></th>
                 <th><a id="sort-seeded"><i id="sort-seeded-icon" class="fa fa-sort" aria-hidden="true"></i> &nbsp;Seed Generated (<span class="fa fa-star" aria-hidden="true"></span>)</a></th>
                 <th><a id="sort-balances"><i id="sort-balances-icon" class="fa fa-sort-amount" aria-hidden="true"></i> &nbsp;Balance</a></th>
             </tr>
         </thead>
         <tbody>
         </tbody>
     </table>
     <div class="newCTA">
        <a href="new-address" class="address" nav-click="true"></a>
    </div>
</div>
<div class="tabs-panel" id="credit-addresses">
    <table id="credit-addresses-table">
        <thead>
            <tr>
                <th></th>
                <th><a id="sort-names"><i id="sort-names-icon" class="fa fa-sort" aria-hidden="true"></i> &nbsp;Nickname</a></th>
                <th><a id="sort-seeded"><i id="sort-seeded-icon" class="fa fa-sort" aria-hidden="true"></i> &nbsp;Seed Generated (<span class="fa fa-star" aria-hidden="true"></span>)</a></th>
                <th><a id="sort-balances"><i id="sort-balances-icon" class="fa fa-sort-amount" aria-hidden="true"></i> &nbsp;Balance</a></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="newCTA">
        <a href="new-address" class="address" nav-click="true"></a>
    </div>
</div>
<div class='tabs-panel {{if compareStrings . "all"}} {{else}} hide {{end}}' id="external-addresses">
    <table id="external-addresses-table">
        <thead>
            <tr>
                <th></th>
                <th><a id="sort-names"><i id="sort-names-icon" class="fa fa-sort" aria-hidden="true"></i> &nbsp;Nickname</a></th>
                <th></th>
                <th><a id="sort-balances"><i id="sort-balances-icon" class="fa fa-sort-amount" aria-hidden="true"></i> &nbsp;Balance</a></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="newCTA">
        <a href="new-address" class="address" nav-click="true"></a>
    </div>
</div>
</div>
{{end}}