{{define "backup3"}}

{{$pageTitle := "Backup Step 3"}}
{{$mainClass := "address-book"}}
{{$theme := .Settings.Theme}}
{{$activeNav := 4}}
{{$info := mkArray $pageTitle $theme $activeNav $mainClass .Settings}}

{{template "templateTop" $info}}
<div id="guts">
<div class="hide" id="given-seed" value="{{.SingleSeed}}"></div>
  <div class="app">
        <div class="backup-main">
            <div class="backup-pager">
                <ul>
                    <li>1</li>
                    <li>2</li>
                    <li class="active">3</li>
                </ul>
            </div>
            <form class="backup-form" id="backup-html-form" action="javascript:void(0);">
                <div class="backup-content backup-step-three">
                    <h1 class="backup-title">Verify your 12 word seed phrase</h1>
                    <div class="backup-box-content">
                        <div class="backup-seed-table">
                            <div>
                                <ul>
                                    <li>
                                        <div class="backup-seed-order">1</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="1">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="backup-seed-order">5</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="5">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="backup-seed-order">9</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="9">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <div class="backup-seed-order">2</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="2">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="backup-seed-order">6</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="6">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="backup-seed-order">10</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="10">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <div class="backup-seed-order">3</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="3">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="backup-seed-order">7</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="7">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="backup-seed-order">11</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="11">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <div>
                                <ul>
                                    <li>
                                        <div class="backup-seed-order">4</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="4">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="backup-seed-order">8</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="8">
                                        </div>
                                    </li>
                                    <li>
                                        <div class="backup-seed-order">12</div>
                                        <div class="backup-seed-word">
                                            <input type="text" class="backup-input" index="12">
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="backup-footer">
                    <a href="backup2" nav-click="true" class="backup-btn backup-btn-gray"><i class="fa fa-arrow-left" aria-hidden="true"></i> Back</a>
                    <button class="backup-btn backup-btn-green backup-btn-verify" id="backup-input-verify-button">
                        <span>Verify</span>
                        <div class="backup-spinner">
                          <div class="backup-bounce1"></div>
                          <div class="backup-bounce2"></div>
                          <div class="backup-bounce3"></div>
                        </div>
                        <i class="fa fa-check" aria-hidden="true"></i>
                        <i class="fa fa-times" aria-hidden="true"></i>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
{{template "templateBottom" ""}}
{{end}}
