{{define "createEntryCredits"}}

{{$pageTitle := "Buy Entry Credits"}}
{{$mainClass := "create-entry-credits"}}
{{$theme := .Settings.Theme}}
{{$activeNav := 1}}
{{$info := mkArray $pageTitle $theme $activeNav $mainClass .Settings}}
{{template "templateTop" $info}}
<div id="guts">
    <div class="row">
        <div class="columns">
            <a nav-click="true" href="/" class="button close-button" data-close aria-label="Close reveal"><span aria-hidden="true">&times;</span></a>
            <h1 id="token-header" value="1">Buy Entry Credits</h1>
            {{$tokenInfo := mkArray "EC" "entry credit" nil .Settings.CoinControl}}
            {{template "transaction-template" $tokenInfo}}
        </div>
    </div>
    <div class="reveal" id="addressbook" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
        <h1>Select Address</h1>
        <form>
            <div id="addresses-reveal">
                <ul class="address-list"></ul>
            </div>
            <div data-toggle="addressbook" class="button send-factoid-reveal-button" id="addresses-reveal-button">Add Address</div>
        </form>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="reveal" id="fee-addressbook" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
        <h1>Choose Factoid Address</h1>
        <form>
            <div id="fee-addresses-reveal">
                <ul class="address-list"></ul>
            </div>
            <div data-toggle="fee-addressbook" class="button send-factoid-reveal-button" id="fee-addresses-reveal-button">Choose Address</div>
        </form>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{{template "templateBottom" "LoadAddressesSendConvert()"}}
{{end}}