{{define "edit-address-external"}}

{{$pageTitle := "Edit External Address"}}
{{$mainClass := "send-factoids"}}
{{$theme := .}}
{{$activeNav := 2}}
{{ $info := mkArray $pageTitle $theme $activeNav $mainClass }}
{{template "templateTop" $info}}

<div class="row">
                        <div class="columns">
                            <a href="/AddressBook class="button close-button" data-close aria-label="Close reveal"><span aria-hidden="true">&times;</span></a>
                            <h1>Edit External Address</h1>
                            <form>
                                <div class="row">
                                    <div class="medium-8 columns">
                                        <label>Public key:</label>
                                    </div>
                                    <div class="medium-4 columns">
                                        <label>Nickname:</label>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-8 columns">
                                        <input id="address-field" type="text" disabled="true" name="public-key" value="{{.Address}}">
                                    </div>
                                    <div class="medium-4 columns">
                                        <input id="address-name" type="text" name="alias" value="{{.Name}}">
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="medium-8 hide-for-small-only columns">

                                    </div>
                                    <div class="medium-4 small-12 columns">
                                        <a id="save-name-change" class="button expanded">Save Changes</a>
                                    </div>
                                </div>
                                <hr>
                                <div class="row">
                                    <div class="columns">
                                        <a href="/wallet-gui/" class="button alert">Delete from Address Book</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

{{template "templateBottom" "edit-address"}}
{{end}}