{{define "import-export-transaction"}}

{{$pageTitle := "Import/Export Transaction"}}
{{$mainClass := "send-factoids"}}
{{$theme := .Settings.Theme}}
{{$activeNav := 1}}
{{$info := mkArray $pageTitle $theme $activeNav $mainClass .Settings}}
{{template "templateTop" $info}}
<div id="guts">
    <div class="row">
        <div class="columns">
            <a href="/" class="button close-button" data-close aria-label="Close reveal"><span aria-hidden="true">&times;</span></a>
            <h1 id="token-header" value="2">Import/Export Transactions</h1>
            <div class="row columns">
                <input id="uploaded-file" type='file' name='userFile' class="input-group-field hide">
                <!-- <input type='submit' name='upload_btn' value='upload' class="input-group-field"> -->
                <a id="import-file" class="button">Import from file</a>
            </div>
            {{$divBottom := print "<hr>"}}
            {{$divBottom := print $divBottom "<div class='row'>"}}
            {{$divBottom := print $divBottom " <div class='columns'>"}}
            {{$divBottom := print $divBottom "  <input type='checkbox' id='sign-transaction' name='sign-transaction' value='true'>"}}
            {{$divBottom := print $divBottom "  <label for='sign-transaction'>Sign transaction</label>"}}
            {{$divBottom := print $divBottom " </div>"}}
            {{$divBottom := print $divBottom "</div>"}}
            {{$divBottom := print $divBottom "<div class='row'>"}}
            {{$divBottom := print $divBottom " <div class='columns'>"}}
            {{$divBottom := print $divBottom "  <a id='make-entire-transaction' class='button' value='1'>View Transaction</a>"}}
            {{$divBottom := print $divBottom " </div>"}}
            {{$divBottom := print $divBottom "</div>"}}

            {{$tokenInfo := mkArray "FCT" "factoid" $divBottom true}}
            {{template "transaction-template" $tokenInfo}}
        </div>
    </div>
    <div class="reveal" id="addressbook" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
        <h1>Select Address</h1>
        <form>
            <div id="addresses-reveal">
            </div>
            <div data-toggle="addressbook" class="button send-factoid-reveal-button" id="addresses-reveal-button">Add Address</div>
        </form>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="reveal" id="fee-addressbook" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
        <h1>Select Factoid</h1>
        <form>
            <div id="fee-addresses-reveal">
            </div>
            <div data-toggle="fee-addressbook" class="button send-factoid-reveal-button" id="fee-addresses-reveal-button">Choose Address</div>
        </form>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{{template "templateBottom" "LoadAddressesSendConvert()"}}
{{end}}