{{define "indexPage"}}

{{$pageTitle := "Transactions"}}
{{$mainClass := "transactions"}}
{{$theme := .Settings.Theme}}
{{$activeNav := 1}}
{{ $info := mkArray $pageTitle $theme $activeNav $mainClass .Settings}}

{{template "templateTop" $info}}

<table>
    <tbody id="transaction-list">
        <div id="loading-container" class="loader-container">
            <div class="loader-body" style="">
                <h4 id="loading-message">Initial loading may take some time</h4>
                <div id="loading" class="loader"></div>
            </div>
        </div>
    </tbody>
</table>
<div id="error-zone" class="callout alert text-center" style="display:none">An error has occured</div>
<div class="newCTA">
    <a href="#" class="transaction"></a>
    <ul>
        <li><a href="send-factoids">Send Factoids</a></li>
        <li><a href="receive-factoids">Receive Factoids</a></li>
        <li><a href="create-entry-credits">Create Entry Credits</a></li>
        <li><a href="import-export-transaction">Import/Export Transaction</a></li>
    </ul>
</div>
<div class="reveal" id="transDetails" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
    <h1>Transaction Details</h1>
    <table class="itemized">
    	<thead>
    		<tr>
    			<td id="trans-detail-txid">
    				0000000000000000000000000000000000000000000000000000000000000000
    			</td>
    		</tr>
    	</thead>
    	<tbody>
    		<tr>
				<td class="inputs">
					<strong>Inputs:</strong><br>
   					<table id="trans-details-inputs">
   						<tr>
   							<td>FA00000000000000000000000000000000000000000000000000</td>
							<td>10000 FCT</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
    			<td class="outputs">
					<strong>Factoid Outputs:</strong><br>
   					<table id="trans-details-outputs">
						<tr>
							<td>FA00000000000000000000000000000000000000000000000000</td>
							<td>10000 FCT</td>
						</tr>
						<tr class="total">
							<td>Total</td>
							<td>10000 FCT</td>
						</tr>
   					</table>
   				</td>
    		</tr>
			<tr>
    			<td class="total">
					<strong>Total Transacted:</strong> <span id="total-transacted">0</span> FCT
				</td>
			</tr>
    		<tr>
    			<td><strong>Date Sent:</strong> <span id="trans-date">09/01/2015 at 07:00:00</span></td>
    		</tr>
    		<!-- <tr>
    			<td><strong>Block Height:</strong id="trans-block-height"> 0</td>
    		</tr> -->
    	</tbody>
    </table>
    <p><a id="link" href="" class="button" target="_blank">View in Explorer</a><a id="local-link" href="" class="button" target="_blank">View in Local Explorer</a></p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{{template "templateBottom" "index"}}
{{end}}
