{{define "indexPage"}}

{{$pageTitle := "Transactions"}}
{{$mainClass := "transactions"}}
{{$theme := .}}
{{$activeNav := 1}}
{{ $info := mkArray $pageTitle $theme $activeNav $mainClass }}

{{template "templateTop" $info}}

<table>
    <tbody>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon sent"><img src="img/transaction_sent.svg" class="svg"></i></a></td>
            <td>1/10/2016 : <a data-toggle="transDetails">Sent</a> <div class="nick">factoid1<span class="show-for-large"> (FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>-510.04 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon sent"><img src="img/transaction_sent.svg" class="svg"></i></a></td>
            <td>1/4/2016 : <a data-toggle="transDetails">Sent</a> <div class="nick">factoid1<span class="show-for-large"> (FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>-10.025 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon received"><img src="img/transaction_received.svg" class="svg"></i></a></td>
            <td>12/31/2015 : <a data-toggle="transDetails">Received</a> <div class="nick">factoid1<span class="show-for-large"> (FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>+2,250 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon converted"><img src="img/transaction_converted.svg" class="svg"></i></a></td>
            <td>12/20/2015 : <a data-toggle="transDetails">Entry Credit Conversion</a> <div class="nick">entrycredits1<span class="show-for-large"> (EC2eUoDPupuZQm5gxs1sCBCv3bbZBCYFDTjaFQ6iRaAKfyXNqjEJ)</span></div></td>
            <td>-2 FCT<br>+1,422 EC</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon sent"><img src="img/transaction_sent.svg" class="svg"></i></a></td>
            <td>12/8/2015 : <a data-toggle="transDetails">Sent</a> <div class="nick">poloniex<span class="show-for-large"> (FA5nbn8o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHTgJK7)</span></div></td>
            <td>-455.88 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon sent"><img src="img/transaction_sent.svg" class="svg"></i></a></td>
            <td>11/23/2015 : <a data-toggle="transDetails">Sent</a> <div class="nick"><span class="show-for-large">(FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>-12 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon sent"><img src="img/transaction_sent.svg" class="svg"></i></a></td>
            <td>10/10/2015 : <a data-toggle="transDetails">Sent</a> <div class="nick">factoid1<span class="show-for-large"> (FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>-510.04 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon sent"><img src="img/transaction_sent.svg" class="svg"></i></a></td>
            <td>9/4/2015 : <a data-toggle="transDetails">Sent</a> <div class="nick">factoid1<span class="show-for-large"> (FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>-10.025 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon received"><img src="img/transaction_received.svg" class="svg"></i></a></td>
            <td>8/31/2015 : <a data-toggle="transDetails">Received</a> <div class="nick">factoid1<span class="show-for-large"> (FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>+2,250 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon sent"><img src="img/transaction_sent.svg" class="svg"></i></a></td>
            <td>10/10/2015 : <a data-toggle="transDetails">Sent</a> <div class="nick">factoid1<span class="show-for-large"> (FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>-510.04 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon sent"><img src="img/transaction_sent.svg" class="svg"></i></a></td>
            <td>9/4/2015 : <a data-toggle="transDetails">Sent</a> <div class="nick">factoid1<span class="show-for-large"> (FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>-10.025 FCT</td>
        </tr>
        <tr>
            <td><a data-toggle="transDetails"><i class="transIcon received"><img src="img/transaction_received.svg" class="svg"></i></a></td>
            <td>8/31/2015 : <a data-toggle="transDetails">Received</a> <div class="nick">factoid1<span class="show-for-large"> (FA3cih2o2tjEUsnnFR4jX1tQXPpSXFwsp3rhVp6odL5PNCHWvZV1)</span></div></td>
            <td>+2,250 FCT</td>
        </tr>
    </tbody>
</table>
<div class="newCTA">
    <a href="#" class="transaction"></a>
    <ul>
        <li><a href="send-factoids">Send Factoids</a></li>
        <li><a href="receive-factoids">Receive Factoids</a></li>
        <li><a href="create-entry-credits">Create Entry Credits</a></li>
        <li><a href="import-export-transaction">Import/Export Transaction</a></li>
    </ul>
</div>
<div class="reveal" id="transDetails" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
    <h1>Transaction Details</h1>
    <p>[transaction details here]</p>
    <p><a href="http://explorer.factom.org/entry/ba7405081d739be2416b5c3b503eead8aea5deda46b715ffefff6ac107ee302f" class="button" target="_blank">View in Explorer</a></p>
    <button class="close-button" data-close aria-label="Close reveal" type="button">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{{template "templateBottom"}}
{{end}}