{{define "settings"}}

{{$pageTitle := "Settings"}}
{{$mainClass := "settings"}}
{{$theme := .Settings.Theme}}
{{$activeNav := 3}}
{{$info := mkArray $pageTitle $theme $activeNav $mainClass .Settings}}

{{template "templateTop" $info}}

<h1>Advanced Features</h1>
<form>
    <div class="row">
        <div class="columns">
            <p>
                <input type="checkbox" id="coin-control" name="coin-control" value="true" {{if .Settings.CoinControl}} checked{{end}}>
                <label for="coin-control">Enable coin-control (specific or multiple input addresses for new transaction)</label>
                <br>
                <input type="checkbox" id="import-export" name="import-export" value="true" {{if .Settings.ImportExport}} checked{{end}}>
                <label for="import-export">Enable ability to import/export transactions</label>
                <br>
                <input type="checkbox" id="export-keys" name="export-keys" value="true" {{if .Settings.KeyExport}} checked{{end}}>
                <label for="export-keys">Enable ability to export private keys</label>
                <br>
                <input type="checkbox" id="darkTheme" name="darkThme" value="true" {{if .Settings.DarkTheme}} checked{{end}}>
                <label for="darkTheme">Enable dark theme</label>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="columns">
            <br>
            <a id="save-changes" class="button">Save Changes</a>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="columns">
            <a id="export-seed" class="button">Export Seed to file</a>
        </div>
    </div>
    <div id="error-zone" class="callout alert text-center" style="display:none;">An error has occured</div>
    <div id="success-zone" class="callout success text-center" {{if .Success}} {{else}} style="display:none" {{end}}>Settings Saved</div>
</form>

{{template "templateBottom" "settings"}}
{{end}}