{{define "settings"}}

{{$pageTitle := "Settings"}}
{{$mainClass := "settings"}}
{{$theme := .Settings.Theme}}
{{$activeNav := 3}}
{{$info := mkArray $pageTitle $theme $activeNav $mainClass .Settings}}

{{template "templateTop" $info}}
<div id="guts">
    <h1>Advanced Features</h1>
    <form id="settings-form">
        <div id="error-zone" class="callout alert text-center" style="display:none;">An error has occured</div>
        <div id="success-zone" class="callout success text-center" {{if .Success}} {{else}} style="display:none" {{end}}>Settings Saved</div>
        <div class="row">
            <div class="columns">
                <p>
                    <input type="checkbox" id="coin-control" name="coin-control" value="true" {{if .Settings.CoinControl}} checked{{end}}>
                    <label for="coin-control">Enable coin-control (specific or multiple input addresses for new transaction)</label>
                    <br>
                    <input type="checkbox" id="import-export" name="import-export" value="true" {{if .Settings.ImportExport}} checked{{end}}>
                    <label for="import-export">Enable ability to import/export transactions</label>
                    <br>
                    <input type="checkbox" id="export-keys" name="export-keys" value="true" {{if .Settings.KeyExport}} checked{{end}}>
                    <label for="export-keys">Enable ability to export private keys</label>
                    <br>
                    <input type="checkbox" id="darkTheme" name="darkThme" value="true" {{if .Settings.DarkTheme}} checked{{end}}>
                    <label for="darkTheme">Enable dark theme</label>
 
                </p>
            </div>
        </div>
        <h1>Sync Method</h1>
        <div class="row">
            <div class="columns">
                <p>
            <input type="radio" name="factomd" value="localhost:8088" id="factomd-local" {{if eq .FactomdType 0}}checked{{end}}>
            <label for="factomd-local">Local - Download the entire blockchain. Slowest and most don't need this option. <b>Note that you must also run factomd separately.</b></label>
            <br>
            <input type="radio" name="factomd" value="https://api.factomd.net" id="factomd-opennode" {{if eq .FactomdType 3}}checked{{end}}>
            <label for="factomd-opennode">Factomd.net - A courtesy node system provided by multiple ANOs. Only downloads transactions. See <a href="https://factomd.net/" target="_blank">https://factomd.net/</a></label>
            <br>
            <input type="radio" name="factomd" value="https://courtesy-node.factom.com" id="factomd-courtesy" {{if eq .FactomdType 2}}checked{{end}}>
            <label for="factomd-courtesy">A courtesy node provided by the ANO Factom Inc. Only downloads transactions.</label>
            <br>
            <input type="radio" name="factomd" value="custom" id="factomd-custom" {{if eq .FactomdType 1}}checked{{end}}><label for="factomd-custom" >
                Custom: <input id="factomd-location" name="factomd-location" type="text" class="input-group-field" maxlength="100" value="{{if eq .FactomdType 1}}{{.Settings.FactomdLocation}}{{end}}"></label>
                </p>
            </div>
        </div>

        <div class="row">
            <div class="columns">
                <br>
                <p><a id="save-changes" class="button">Save Changes</a></p>
            </div>
        </div>
        <div class="row">
        	<div class="columns">
                <h1 class="import-seed-settings-title">Restore a Seed</h1>
                <div class="import-seed-warning">
    				<div>
                        <p> Restoring a seed will replace your current seed, retaining all addresses in your wallet and showing them as "not generated from your seed" <i class="fa fa-star-o" aria-hidden="true"></i></p>
                    </div>
                    <div>
                        <!-- <a id="export-seed" class="button secondary">Export Seed to file</a>  -->
                        <input id="settings-uploaded-file" type='file' name='userFile' class="input-group-field hide">
                        <a id="data-expand" data-toggle="import-seed-reveal" class="hide"></a>
                        <!-- <input type='submit' name='upload_btn' value='upload' class="input-group-field"> -->
                        <a id="settings-import-file" class="button secondary" href="import-seed" nav-click="true">Restore Seed</a>
                    </div>
        		</div>
        	</div>
        </div>
    </form>

    <div class="reveal" id="import-seed-reveal" data-reveal data-close-on-click="true" data-animation-in="fade-in" data-animation-out="fade-out">
        <h1>Confirm Restore</h1>
        <form>
            <p>Clicking 'Restore Seed' will overwrite your current seed. This will make all seeded addresses unabled to be backed up, so make sure you back up your old seed before continuing.</p>
            <p>
            <b>New Seed:</b>
            <i id="import-seed-reveal-text"></i>
            </p>
            <a data-close data-toggle="import-seed-reveal" class="button warning" id="import-seed-reveal-confirm" href="import-seed" nav-click="true">Import Seed</a>
            <div data-toggle="import-seed-reveal" class="button alert" id="import-seed-reveal-cancel">Cancel</div>
        </form>
        <button class="close-button" data-close aria-label="Close reveal" type="button">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</div>
{{template "templateBottom" ""}}
{{end}}
