{{define "templateTop"}}

{{/* 4 initial starting variables taken from passed in array to set up page*/}}
{{$pageTitle := index . 0}}
{{$theme := index . 1}}
{{$activeNav := index . 2 }}
{{$mainClass := index . 3 }}
{{$settings := index . 4}}

<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" type="image/x-icon" href="img/icon/favicon.ico">
        <title>Enterprise Wallet{{/* - {{$pageTitle}}*/}}</title>
        <link rel="stylesheet" href="css/app.css">
        <link rel="stylesheet" href="css/other.css">
    </head>
    <body class="{{$theme}}">
        <section id="frame" class="row align-stretch">
            <section class="leftCol small-12 medium-3 columns">
                <header>
                    <img src="img/factom-protocol-main-globe-only.svg" class="svg logo" alt="Factom Foundation">
                    <h1>Enterprise Wallet</h1>
                </header>
                <nav>
                    <ul id="nav-list">
                        <li id="transactions-nav" {{if compareInts $activeNav 1 }} class="active" {{end}}>
                            <a href="/" class="transactions" nav-click="true">
                                <i><img src="img/nav_transactions.svg" class="svg" alt="Transactions"></i>
                                Transactions
                            </a>
                        </li>
                        <li id="address-book-nav" {{if compareInts $activeNav 2 }} class="active" {{end}}>
                            <a href="AddressBook" class="address-book nav-element" nav-click="true">
                                <i><img src="img/nav_address-book.svg" class="svg" alt="Address Book"></i>
                                Address Book
                            </a>
                        </li>
                        <li id="settings-nav" {{if compareInts $activeNav 3 }} class="active" {{end}}>
                            <a href="Settings" class="settings nav-element" nav-click="true">
                                <i><img src="img/nav_settings.svg" class="svg" alt="Settings"></i>
                                Settings
                            </a>
                        </li>
                        <li id="backup-nav" {{if compareInts $activeNav 4 }} class="active" {{end}}>
                            <a href="Backup" id="backup-nav-item" class="settings nav-element {{ if $settings.BackedUp }} {{ else }} never-backedup {{end}}" nav-click="true">
                                <i><img src="img/nav_backup.svg" class="svg" alt="Settings"></i>
                                Backup
                            </a>
                            {{ if $settings.BackedUp }}
                            {{ else }}
                                <div id="backup-message" class="backup-alert-note">
                                    <strong>Please be sure to back up your seed.</strong> <br>
                                    <span>Allowing you to restore your seed in the case of lost password or database corruption.</span>
                                </div>
                            {{ end }}
                        </li>
                    </ul>
                </nav>
            <div id="sync-status" class="hide-for-small-only">

            {{ if $settings.Encrypted }}
            <div class="wallet-type">
                <div class="wallet-icon"><img src="img/icon-secure.svg" alt=""></div>
                <div>
                    <h1>Secure</h1>
                    <p>Encrypted Wallet</p>
                </div>
            </div>
            {{else}}
            <div class="wallet-type">
                <div class="wallet-icon icon-not-secure"><img src="img/icon-not-secure.svg" alt=""></div>
                <div>
                    <h1>Not Secure</h1>
                    <p>Unencrypted Wallet</p>
                </div>
            </div>
            {{end}}
			 <small>Enterprise: Version v0.3.0.0</small><br>
			 <span id="sync-bar" class="label alert">Wallet Sync: <span id="load-percent">0</span></span>
            </div>
            </section>
            <section class="rightCol small-12 medium-expand columns">
                <section class="balances">
                    <div class="row">
                        <div class="small-6 columns">
                            <section class="balance factoids dec8">
                                <i><img src="img/balance_factoids.svg" class="svg" alt="Factoids"></i>
								<span id="factoid-balance">0.</span><span><small id="factoid-balance-trailing">0</small></span>
                            </section>
                        </div>
                        <div class="small-6 columns">
                            <section class="balance credits">
                                <i><img src="img/balance_credits.svg" class="svg" alt="Entry Credits"></i>
                                <span id="ec-balance">0</span>
                            </section>
                        </div>
                    </div>
                </section>
                <section id="synced-indicator" class="loading callout alert" style="display:none"{{if $settings.Synced}} {{else}}{{end}}><div class="column text-center">The Wallet is syncing the blockchain. Until this is complete, transactions may be missing and balances or fees may be incorrect.</div></section>
                <main class="{{$mainClass}}">
                <section id="dynamic-content">
{{end}}
