.pad20 {
	padding: 20px;
}

.send-factoid-reveal-button {
    margin: auto;
    width: 50%;
    margin-left: 20px;
}

.percent95 {
	font-size: 95%;
}

.disabled-input {
	cursor: not-allowed !important;
	color:#A0A0A0 !important;
}

.input-group-error {
  box-shadow: 0 0 3px #CC0000 !important;
}

.loader {
	margin: auto 0;
    border: 16px solid #e6e6e6; /* Light grey */
    border-top: 16px solid #f9ebc3; /* Yellow */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
    margin-left:auto;
    margin-right:auto;
}

#success-zone {
    word-wrap: break-word;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loader-container{
    text-align: center;
	display:table;
	width:100%;
	height:80%;
}

.loader-body {
	display:table-cell;
	vertical-align:middle;
}

.green {
	color:green;
}

.red {
	color:red;
}

pre {
	display:inline;
}

.loading-message {
    margin: auto 0;
    text-align: center;
    margin-left:auto;
    margin-right:auto;
    width: 100%;
}

.icon-lock {
  width: 48px;
  height: 48px;
  position: relative;
  overflow: hidden;
}

.icon-lock .lock-top-1 {
  width: 40%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 14%;
  background-color: #000;
  border-radius: 40%;
}

.icon-lock .lock-top-2 {
  width: 24%;
  height: 40%;
  position: absolute;
  left: 50%;
  margin-left: -12%;
  top: 22%;
  background-color: #f3f3f3;
  border-radius: 25%;
}

.darkTheme .icon-lock .lock-top-2 {
    background-color:#1f1f1f !important;
}


.icon-lock .lock-body {
  width: 60%;
  height: 48%;
  position: absolute;
  left: 50%;
  margin-left: -30%;
  bottom: 11%;
  background-color: #000;
  border-radius: 15%;
}

.icon-lock .lock-hole {
  width: 16%;
  height: 16%;
  position: absolute;
  left: 50%;
  margin-left: -8%;
  top: 51%;
  border-radius: 100%;
  background-color: #f3f3f3;
}

.darkTheme .icon-lock .lock-hole {
    background-color:#1f1f1f !important;
}

.icon-lock .lock-hole:after {
  content: "";
  width: 43%;
  height: 78%;
  position: absolute;
  left: 50%;
  margin-left: -20%;
  top: 100%;
  background-color: inherit;
}

#qrcode canvas {
  border-style: solid;
  border-color: white;
}
